* {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
}

body {
  background-color: lightslategrey;
}

#name {
  margin: 5vh auto;
}

.game-name {
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 12px;
}

#game {
  padding: 20px 30px;
  width: max-content;
  max-width: 95vw;
  margin: 5vh auto;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

label {
  font-size: 20px;
  display: block;
  text-align: center;
}

.hidden-word {
  letter-spacing: 2px;
  font-size: 25px;
  color: royalblue;
}

.result {
  display: block;
  height: 1.5em;
}

.letter-container {
  display: block;
  margin: 0px auto;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: solid 2px royalblue;
  text-align: center;
  font-size: 20px;
}

.button {
  border: solid 2px royalblue;
  display: block;
  margin: 0px auto;
  background-color: royalblue;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.button-restart {
  display: block;
  margin: 0px auto;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.button-restart:hover {
  color: white;
  background-color: royalblue;
}

.button:hover {
  background-color: white;
  color: purple;
}